# PHP CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-php/ for more details
#
version: 2
jobs:
  build:
    branches:
      only:
        - master
    docker:
      # Specify the version you desire here
      - image: circleci/php:7.4-node-browsers

    steps:
      - add_ssh_keys:
          fingerprints:
            - "93:8e:a8:a5:c4:eb:c3:f8:4a:f1:01:18:c6:71:0a:50"
      - checkout
      - run: cp .env.example .env
      - run:
          name: replace env variables
          command: sh ./.circleci/replace_env_variables.sh
      - run: sudo apt update
      - run: sudo apt-get install -y git-ftp
      - run: sudo apt install nodejs & nodejs -v
      - run: sudo apt install npm | sudo sh & npm -v
      - run: cd ux && npm install && npm run build
      - run: rsync -a ./frontend/ ./public/
#      - run: git config git-ftp.syncroot .
#      - run:
#          name: git ftp
#          command: sh ./.circleci/push_ftp.sh
#          no_output_timeout: 10m
